
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #131313;
  color: beige;
}
.login Button{
    margin-top: 25px;
}
b{
  cursor: pointer;
}
.login h1{
  margin-bottom: 20px;
}
.login h3{
  color: red;
}