.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #131313;
  color: beige;
}
.register Button {
  margin-top: 25px;
}
.register b {
  cursor: pointer;
}
.register h3 {
  color: red;
}
